<div class="card card-recent-messages mg-t-10">
    <div class="card-header">
        <span>My Recent Messages</span>
        <a href="javascript://"><i class="icon ion-more"></i></a>
    </div>

    <div class="list-group list-group-flush">
        <div class="list-group-item">
            <div class="media">
                <img src="img/img1.jpg" alt="">
                <div class="media-body">
                    <h6>Katherine Lumaad</h6>
                    <p>an hour ago</p>
                </div>
            </div>
            <p class="msg">The European languages are members of the same family. Their separate existence is a myth...</p>
        </div>

        <div class="list-group-item">
            <div class="media">
                <img src="img/img2.jpg" alt="">
                <div class="media-body">
                    <h6>Mary Grace Ceballos</h6>
                    <p>2 hours ago</p>
                </div>
            </div>
            <p class="msg">The European languages are members of the same family. Their separate existence is a myth...</p>
        </div>

        <div class="list-group-item">
            <div class="media">
                <img src="img/img4.jpg" alt="">
                <div class="media-body">
                    <h6>Rowella Sombrio</h6>
                    <p>3 hours ago</p>
                </div>
            </div>
            <p class="msg">The European languages are members of the same family. Their separate existence is a myth...</p>
        </div>
    </div>

    <div class="card-footer">
        <a href="javascript://" class="tx-12"><i class="fa fa-angle-down mg-r-5"></i> Show all messages</a>
    </div>
</div>
