<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Zer0net p0rtal</title>

    <!-- Meta -->
    <meta name="description" content="Zer0net Starts Here!™">
    <meta name="author" content="D14na">

    <!-- Favicon -->
    <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png">

    <!-- vendor css -->
    <link href="https://cdn.0net.io/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.0net.io/libs/Ionicons/4.2.1/css/ionicons.min.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/p0rtal.css">
</head>

<body>

<div id="header">
    <!-- placeholder for header -->
</div>

<div id="navbar">
    <!-- placeholder for navbar -->
</div>

<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ZeroLife</li>
            </ol>

            <h6 class="slim-pagetitle">ZeroLife</h6>
        </div>

        <div class="row row-sm row-timeline">
            <div class="col-lg-9">

                <div class="card pd-30">
                    <div class="timeline-group">
                        <div class="timeline-item timeline-day">
                            <div class="timeline-time">&nbsp;</div>
                            <div class="timeline-body">
                                <p class="timeline-date">Today</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">10:30pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">Building a Simple User Interface</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                                <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">Like</a> &nbsp;&nbsp; <a href="page-timeline.html">Comment</a></p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">8:15pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">Blueberry Cheesecake Dessert Recipe</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Katherine Lumaad</a> Oakland, CA</p>
                                <p class="timeline-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                                <div class="row mg-b-15">
                                    <div class="col-6">
                                        <a href="page-timeline.html"><img src="@/assets/img/dev/img17.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>

                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">Like</a> &nbsp;&nbsp; <a href="page-timeline.html">Comment</a></p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">3:30pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">Your Finances Don't Have to Be Perfect to Work</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                                <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">Like</a> &nbsp;&nbsp; <a href="page-timeline.html">Comment</a></p>
                            </div>
                        </div>

                        <div class="timeline-item timeline-day">
                            <div class="timeline-time">&nbsp;</div>
                            <div class="timeline-body">
                                <p class="timeline-date">Yesterday</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">6:30pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">An Engineer Explains Why You Should Always Order the Larger Pizza</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                                <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>

                                <div class="row row-xs mg-b-15">
                                    <div class="col-6">
                                        <a href="page-timeline.html"><img src="@/assets/img/dev/img19.jpg" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="col-6">
                                        <a href="page-timeline.html"><img src="@/assets/img/dev/img18.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                </div>

                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">2 Likes</a> &nbsp;&nbsp; <a href="page-timeline.html">1 Comment</a></p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">1:15pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">The Strange Persistence of First Languages</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                                <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">Like</a> &nbsp;&nbsp; <a href="page-timeline.html">Comment</a></p>
                            </div>
                        </div>

                        <div class="timeline-item timeline-day">
                            <div class="timeline-time">&nbsp;</div>
                            <div class="timeline-body">
                                <p class="timeline-date">December 20, 2017</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-time">11:45pm</div>
                            <div class="timeline-body">
                                <p class="timeline-title"><a href="page-timeline.html">How to Win Your Next Political Argument</a></p>
                                <p class="timeline-author"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                                <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                                <p class="tx-12 mg-b-0"><a href="page-timeline.html">Like</a> &nbsp;&nbsp; <a href="page-timeline.html">Comment</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                <div id="datepicker" class="timeline-datepicker"></div>

                <div class="card pd-20 mg-t-20">
                    <label class="slim-card-title">My Latest Updates</label>
                    <div class="post-group">
                        <div class="post-item">
                            <span class="post-date">Today, 3:30pm</span>
                            <p class="post-title"><a href="page-timeline.html">Maybe Just Don't Drink Coffee</a></p>
                            <p class="tx-12 mg-b-0"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                        </div>

                        <div class="post-item">
                            <span class="post-date">Yesterday, 10:00am</span>
                            <p class="post-title"><a href="page-timeline.html">Your Finances Don't Have to Be Perfect to Work</a></p>
                            <p class="tx-12 mg-b-10"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                            <p class="tx-12 mg-b-0">In this lesson, you create a layout in XML that includes a text field and a button...</p>
                        </div>

                        <div class="post-item">
                            <span class="post-date">Dec 22, 2017 10:00am</span>
                            <p class="post-title"><a href="page-timeline.html">The Condensed Guide to Running Meetings</a></p>
                            <p class="tx-12 mg-b-10"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                            <p class="tx-12 mg-b-15">We love to hate meetings. And with good reason — they clog up our days, making it hard to get work done in the gaps...</p>
                            <a href="page-timeline.html"><img src="@/assets/img/dev/img20.jpg" class="img-fluid" alt=""></a>
                        </div>

                        <div class="post-item">
                            <span class="post-date">Dec 21, 2017 5:00am</span>
                            <p class="post-title"><a href="page-timeline.html">What Romance Really Means After 10 Years of Marriage</a></p>
                            <p class="tx-12 mg-b-10"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                            <p class="tx-12 mg-b-0">In this lesson, you create a layout in XML that includes a text field and a button...</p>
                        </div>

                        <div class="post-item">
                            <span class="post-date">Dec 20, 2017 4:20am</span>
                            <p class="post-title"><a href="page-timeline.html">
                                Buying organic veggies at the supermarket is a waste of money</a>
                            </p>
                            <p class="tx-12 mg-b-10"><a href="page-timeline.html">Elisse Joson</a> San Francisco, CA</p>
                            <p class="tx-12 mg-b-0">In this lesson, you create a layout in XML that includes a text field and a button...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="footer">
    <!-- placeholder for footer -->
</div>

<script src="https://cdn.0net.io/libs/jquery/3.3.1/js/jquery.min.js"></script>
<script src="https://cdn.0net.io/libs/jquery-ui/1.12.1/js/jquery-ui.js"></script>
<script src="https://cdn.0net.io/libs/popper.js/1.12.9/js/popper.js"></script>
<script src="https://cdn.0net.io/libs/bootstrap/4.0.0/js/bootstrap.js"></script>

<script src="../js/ResizeSensor.js"></script>
<script src="../js/ZeroApi.js"></script>
<script src="../js/p0rtal.js"></script>

<script>
$(function () {
    'use strict'

    $('#datepicker').datepicker()
})
</script>

</body>
</html>
